<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Admission Clearance</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <!-- App favicon -->
        <link rel="shortcut icon" href="assets/images/favicon.png">

        <!-- Plugins css-->
        <link href="../plugins/bootstrap-tagsinput/css/bootstrap-tagsinput.css" rel="stylesheet" />
        <link href="../plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" />
        <link href="../plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
        <!-- <link rel="stylesheet" href="../plugins/switchery/switchery.min.css" /> -->

        <!-- App css -->
        <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/icons.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/metismenu.min.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/style.css" rel="stylesheet" type="text/css" />

         <!-- Sweet Alert css -->
        <link href="../plugins/sweet-alert/sweetalert2.min.css" rel="stylesheet" type="text/css" />

        <!-- <script src="assets/js/modernizr.min.js"></script> -->
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
        <script src="assets/js/jquery.min.js"></script>
        <script type="text/javascript">
                    $(function(){               
                        $('#btn-success').click(function(e){
                            e.preventDefault();
                            console.log('select_link clicked');

                            var data = {};
                            // data.title = "title";
                            data.message = "approved";
                            
                            $.ajax({
                                type: 'POST',
                                data: JSON.stringify(data),
                                contentType: 'application/json',
                                url: 'http://localhost:8080/',                      
                                success: function(data) {
                                    console.log('success');
                                    // console.log(JSON.stringify(data));
                                }
                            });

                        });             
                    });
                </script>

    </head>


    <body>

        <!-- Begin page -->
        <div id="wrapper">